


body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'danielregular'; 
  /* -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: indigo;
 /*  background-image: url('https://www.xtrafondos.com/wallpapers/rick-sanchez-2020-6184.jpg'); */
  background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


